/*!

 =========================================================
 * Material Dashboard PRO Angular - v2.9.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard-pro-angular2
 * Copyright 2018 Creative Tim (https://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@use '@angular/material' as mat;

// Material core stillerini yükle
@include mat.core();

// Custom typography configuration
$custom-typography: mat.define-typography-config(
        $font-family: 'Poppins, sans-serif',
        $headline-1: mat.define-typography-level(96px, 96px, 300),
        $headline-2: mat.define-typography-level(60px, 60px, 300),
        $headline-3: mat.define-typography-level(48px, 48px, 400),
        $headline-4: mat.define-typography-level(34px, 34px, 400),
        $headline-5: mat.define-typography-level(24px, 24px, 400),
        $headline-6: mat.define-typography-level(20px, 20px, 500),
        $subtitle-1: mat.define-typography-level(14px, 14px, 400),
        $subtitle-2: mat.define-typography-level(14px, 14px, 500),
        $body-1: mat.define-typography-level(14px, 14px, 400),
        $body-2: mat.define-typography-level(13px, 14px, 400),
        $button: mat.define-typography-level(14px, 14px, 500),
        $caption: mat.define-typography-level(12px, 12px, 400),
        $overline: mat.define-typography-level(10px, 10px, 400)
);

// Global typography uygulama
@include mat.all-component-typographies($custom-typography);


body,
.mat-form-field,
.mat-input-element,
.mat-select-value,
.mat-label,
.mat-button,
.mat-radio-label,
.mat-checkbox-label {
  font-family: 'Poppins', sans-serif !important;
}
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";

 @import "core/variables";
 @import "core/mixins";
 @import "bootstrap/scss/bootstrap";
 @import "core/reboot";

// Core Components
@import "core/layout";
@import "core/buttons";
@import "core/checkboxes";
@import "dashboard/cards";
@import "core/custom-forms";
@import "core/switches";
@import "core/example-pages";
@import "core/radios";
@import "core/carousel";
@import "dashboard/forms";
@import "core/input-group";
@import "core/list-group";
@import "core/nav";
@import "core/images";
@import "dashboard/navbar";
@import "core/badges";
@import "dashboard/alerts";
@import "core/pagination";
@import "core/pills";
@import "core/info-areas";
@import "core/type";
@import "core/tabs";
@import "core/footers";
@import "core/tooltip";
@import "core/popover";
@import "core/modal";
@import "core/dropdown";
@import "core/headers";
@import "core/drawer";
@import "core/progress";
@import "core/togglebutton";
@import "core/ripples";
@import "dashboard/rtl";
@import "dashboard/sidebar-and-main-panel";
@import "dashboard/timeline";
@import "dashboard/fixed-plugin";
@import "dashboard/tables";
@import "dashboard/misc";
@import "dashboard/pages";

 // Components for PRO
 @import "dashboard/social-buttons";
 @import "dashboard/fileupload";

 //plugin css
 @import "plugins/plugin-nouislider";
 @import "plugins/animate";
 @import "plugins/sweetalert2";
 // @import "plugins/datatables.net";
 @import "plugins/jquery.jvectormap";
 @import "plugins/plugin-datetime-picker";
 @import "plugins/fullcalendar";
 @import "plugins/wizard-card";
 @import "plugins/chartist";
 @import "chartist/dist/scss/chartist";
 @import "plugins/select-bootstrap";
 @import "plugins/perfect-scrollbar";
 @import "plugins/plugin-tagsinput";



@import "dashboard/responsive";
